.card-container{
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
}

.userCard{
  color: rgb(55,55,55);
  min-width: 100px;
  background-color: rgba(255,255,255,0.9);
  margin: 0.5em;
  padding: 1em;
  border-radius: 0.2em;
}
