.navigationBar{
  position: fixed;
  top: 0;
  left:0;
  z-index: 100;
  width: 100%;
  height: 50px;
  padding: 0 1em;
  background-color: blue;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.navigationBar p{
  margin: 0;
}

.userInfo{
  display: inline-flex;
  height: 80%;
}

.userFullName{
  margin: 0;
  padding-top: 0.7em;
  padding-bottom: 0.3em;
  font-weight: 600;
  line-height: 0;
}

.nameAndLogoutContainer{
  margin-left: 0.8em;
}

.logoutLink{
  line-height: 0.8;
  font-size: 13px;
  color: white;
  text-decoration: none;
}