.menu-drop-down{
  font-size: 10pt;
  position: absolute;
  top: 50px;
  left: 16px;
  width: 120px;
  background-color: rgb(20, 7, 35);
  z-index: 1;
  border-radius: 3px;
  border: 1px solid rgb(81, 32, 150);
}

.menu-item{
  display: block;
  padding: 0.7em;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.menu-item:hover{
background-color: rgb(53, 28, 90);
}