/*:global (
  @import '~react-day-picker/lib/style.css';
)*/

:global(html) {
  background-color: rgb(37, 28, 51)
}

:global(input) {
  border: 1px solid rgba(255,255,255,0.9);
  border-radius: 2px;
  background: rgba(255,255,255,0.5);
  padding: 0.3em 0.5em;
}

:global(input:focus) {
  border: 2px solid rgba(255,255,255,0.9);
  outline: none;
}

:global(button) {
  color: rgb(130, 106, 179);
  border: 1px solid rgb(130, 106, 179);
  border-radius: 3px;
  background: rgb(45, 17, 83);
  padding: 0.3em 0.5em;
  font-weight:600;
  font-size: 11pt;
  outline: none;
}

:global(button:hover) {
  background: rgb(65, 37, 103);
  cursor:pointer;
}

:global(label) {
  display: block;
  font-size: 10pt;
  margin-bottom: 0.2em;
}

:global(input:-webkit-autofill) {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255,255,255,1) inset;
}

.app{
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  padding-top: 105px;
  background-color: rgb(37, 28, 51);
  min-height: 100%;
  color: white;
}
