:global(html) {
  background-color: rgb(35,35,35);
}
.app{
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  padding-top: 45px;
  background-color: rgb(35,35,35);
  min-height: 100%;
  color: white;
}
