.multiSelectDropDown{
  position: relative;
  background-color: rgba(255,255,255,0.8);
  border-radius: 3px;
  border: 1px solid white;
  min-height: 25px;
}

.optionsContainer{
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  width: 100%;
  top: 100%;
  max-height: 300px;
  overflow: scroll;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

.dropDownOption{
  margin-top:0;
  margin-bottom: 0.5em;
}

.selectedOptionContainer{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 25px;
  height:100%;
  width: 100%;
}

.selectedOption{
  margin-right: 1em;
  margin-top: 0;
  white-space: nowrap;
  line-height: 1em;
  padding: 0.5em;
  border-radius: 2px;
  font-size: 10pt;
}

.dropDownOptionSelected{
  font-weight: bold;
}