.container{
  width: 100%;
  overflow: hidden;
  flex-basis: min-content;
  margin-left: 1em;
}

.container h3{
  margin: 0;
  margin-top: 0.1em;
  font-size: 12pt;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.container a, .container p{
  width: 100%;
  text-overflow: ellipsis;
  font-size: 10pt;
  color: inherit;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}
