.container{
  box-sizing: border-box;
  height:100%;
  background-size: cover;
  border-radius: 50%;
  border: solid 2px white;
  flex-shrink: 0;
  font-size: 19px;
}

.container p{
  margin: 0;
  width:100%;
  text-align: center;
  font-weight: 900;
  line-height: 1em;
  opacity: 0.8;
  letter-spacing: 0.05em;
}
