.userCard{
  transition: transform 200ms;
  transform: translateZ(0px);
  flex-shrink: 0;
  flex-basis: calc(90vw/3 - 1em);
  color: rgb(55,55,55);
  min-width: 290px;
  width: auto;
  background-color: rgba(255,255,255,0.9);
  padding: 1em;
  border-radius: 0.2em;
  margin: 0.5em;
}

.userCard:hover{
  transform: translateZ(0.25em);
}
.userCard header{
  display: flex;
  height: 60px;
}

.groupContainer{
  display: flex;
}

.heading{
  margin: 0;
  margin-bottom: 0.3em;
  font-size: 9.5pt;
  font-weight: bold;
}
